h1 {
  text-align: left;
  margin-left: 50pt;
  font-family: 'Homemade Apple', cursive;
  font-size: 40pt;
  color: gold;
}

body {
  background: black url('images/background1.jpg');
/* image from: https://goo.gl/images/bbKLhL*/
  background-size: cover;
  align-items: center;
  color: lemonchiffon;
}

form {
  display: flex;
  width: 475pt;
  border: 3pt dotted gold;
  padding: 1pt;
  border-radius: 1pt;
  margin-left: 30pt;
}

form div, div {
  margin-top: 7pt;
  margin-bottom: 7pt;
}

input, textarea {
  font: 1em sans-serif;
  width: 350pt;
  box-sizing: border-box;
  border: 1pt solid black;
}

textarea {
  vertical-align: top;
}

label {
  display: inline-block;
  width: 100pt;
  text-align: right;
}

select {
  vertical-align: top;
  margin-right: 20pt;
  font: 1em sans-serif;
  width: 110pt;
  box-sizing: border-box;
  border: 1pt solid black;
}

button {
  margin-left: .5em;
}

.grid-row {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.button {
  padding-left: 150pt;
}
